.BiaoGeStyle
{
    width: 1000px;
    height: 800px;
   
}
.td
{
    width: 80px;
    text-align: center;
}
.td1
{
    width: 295px;
  
}
.TD
{
    width: 81px;
    background-color: AliceBlue;
}
.tab
{
    text-align: center;
}
.TR
{
    height: 50px;
}
.kbtd
{
    width: 158px;
}
