<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=0c88271c-fdd3-49c7-9b3d-a26800e5cc00.sqlserver.sequelizer.com;Persist Security Info=True;User ID=azefycnhafeeukyh;Password=wYhcieM7QdHhCbyE8mUB3dt68ZaXsKXEZcZE8ro4rkC4DyW8UPmKLDxtEjdreWNf"
        providerName="System.Data.SqlClient" />
<add name="appConnectString" connectionString="Data Source=0c88271c-fdd3-49c7-9b3d-a26800e5cc00.sqlserver.sequelizer.com;Initial Catalog=db0c88271cfdd349c79b3da26800e5cc00;Persist Security Info=True;User ID=azefycnhafeeukyh;Password=aL6wpXdRyJSgqh4FJDhyfKBB6D3XiURZa6aRWgSPKD8TmYx2ge2HjSXxjBzS4nGL"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <sessionState mode="InProc" cookieless="true" 
 timeout="30"></sessionState>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
